body {
  font-family: sans-serif;
}

h1, h2, h3, h4 {
  font-family: "Linux Libertine", Georgia, Times, "Source Serif Pro", serif;
  font-weight: 400;

  border-bottom: 1px solid #9b9b9b;
  padding-bottom: 0.1em;
  margin-bottom: 1em;
}

#article {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}