body {
  font-family: sans-serif;
}

h1, h2, h3, h4 {
  font-family: "Linux Libertine", Georgia, Times, "Source Serif Pro", serif;
  font-weight: 400;

  border-bottom: 1px solid #9b9b9b;
  padding-bottom: 0.1em;
  margin-bottom: 1em;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.2em;
}